.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
tests/cover
tests/coverage.xml
tests/coverage
tests/coding_standard.xml
tests/junit.xml
public/*
!public/index.html
!public/index.html.gz
!public/index.html.br
!public/favicon.ico
!public/favicon-32x32.png
!public/favicon-192x192.png
!public/apple-touch-icon.png
!public/logo.svg
!public/logo.svg.gz
!public/logo.svg.br
!public/logo.png
!public/font/
!public/font/**
!public/static/
!public/static/**
!web/public
*.lock
storage/swagger/http.json
storage/uploads