@charset "UTF-8";

/* COS 字体仓欠费会返回 451，已停用远程 @font-face */
/*
@font-face {
  font-family: 'xlicon';
  src: url(//font-1256998675.cos.ap-nanjing.myqcloud.com/fonts/xlicons.woff) format("woff"), url(//font-1256998675.cos.ap-nanjing.myqcloud.com/fonts/xlicons.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/
[class*=" xlicon-"], [class^=xljtb2-] {
  font-family: "xlicon" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.xlicon-yiguoqi1:before {
  content: "\e700";
}

.xlicon-iconfontshanchu1:before {
  content: "\e619";
}

.xlicon-iconfontweixin:before {
  content: "\e611";
}

.xlicon-alipay:before {
  content: "\e636";
}

.xlicon-shang:before {
  content: "\e624";
}

.xlicon-shouye:before {
  content: "\e626";
}

.xlicon-shanchu4:before {
  content: "\e622";
}

.xlicon-xiaoxi:before {
  content: "\e618";
}

.xlicon-jiantour-copy:before {
  content: "\e600";
}

.xlicon-fenxiang2:before {
  content: "\e61e";
}

.xlicon-pingjia:before {
  content: "\e67b";
}

.xlicon-daifukuan:before {
  content: "\e68f";
}

.xlicon-pinglun-copy:before {
  content: "\e612";
}

.xlicon-dianhua-copy:before {
  content: "\e621";
}

.xlicon-shoucang:before {
  content: "\e632";
}

.xlicon-xuanzhong2:before {
  content: "\e62f";
}

.xlicon-gouwuche_:before {
  content: "\e630";
}

.xlicon-icon-test:before {
  content: "\e60c";
}

.xlicon-bianji:before {
  content: "\e646";
}

.xlicon-jiazailoading-A:before {
  content: "\e8fc";
}

.xlicon-zuoshang:before {
  content: "\e613";
}

.xlicon-jia2:before {
  content: "\e60a";
}

.xlicon-huifu:before {
  content: "\e68b";
}

.xlicon-sousuo:before {
  content: "\e7ce";
}

.xlicon-arrow-fine-up:before {
  content: "\e601";
}

.xlicon-hot:before {
  content: "\e60e";
}

.xlicon-lishijilu:before {
  content: "\e6b9";
}

.xlicon-zhengxinchaxun-zhifubaoceping-:before {
  content: "\e616";
}

.xlicon-naozhong:before {
  content: "\e64a";
}

.xlicon-xiatubiao--copy:before {
  content: "\e608";
}

.xlicon-shoucang_xuanzhongzhuangtai:before {
  content: "\e6a9";
}

.xlicon-jia1:before {
  content: "\e61c";
}

.xlicon-bangzhu1:before {
  content: "\e63d";
}

.xlicon-arrow-left-bottom:before {
  content: "\e602";
}

.xlicon-arrow-right-bottom:before {
  content: "\e603";
}

.xlicon-arrow-left-top:before {
  content: "\e604";
}

.xlicon-icon--:before {
  content: "\e744";
}

.xlicon-zuojiantou-up:before {
  content: "\e605";
}

.xlicon-xia:before {
  content: "\e62d";
}

.xlicon--jianhao:before {
  content: "\e60b";
}

.xlicon-weixinzhifu:before {
  content: "\e61a";
}

.xlicon-comment:before {
  content: "\e64f";
}

.xlicon-weixin:before {
  content: "\e61f";
}

.xlicon-fenlei1:before {
  content: "\e620";
}

.xlicon-erjiye-yucunkuan:before {
  content: "\e623";
}

.xlicon-Group-:before {
  content: "\e688";
}

.xlicon-you:before {
  content: "\e606";
}

.xlicon-forward:before {
  content: "\e607";
}

.xlicon-tuijian:before {
  content: "\e610";
}

.xlicon-bangzhu:before {
  content: "\e679";
}

.xlicon-share:before {
  content: "\e656";
}

.xlicon-yiguoqi:before {
  content: "\e997";
}

.xlicon-shezhi1:before {
  content: "\e61d";
}

.xlicon-fork:before {
  content: "\e61b";
}

.xlicon-kafei:before {
  content: "\e66a";
}

.xlicon-iLinkapp-:before {
  content: "\e654";
}

.xlicon-saomiao:before {
  content: "\e60d";
}

.xlicon-shezhi:before {
  content: "\e60f";
}

.xlicon-shouhoutuikuan:before {
  content: "\e631";
}

.xlicon-gouwuche:before {
  content: "\e609";
}

.xlicon-dizhi:before {
  content: "\e614";
}

.xlicon-fenlei:before {
  content: "\e706";
}

.xlicon-xingxing:before {
  content: "\e70b";
}

.xlicon-tuandui:before {
  content: "\e633";
}

.xlicon-zuanshi:before {
  content: "\e615";
}

.xlicon-zuo:before {
  content: "\e63c";
}

.xlicon-shoucang2:before {
  content: "\e62e";
}

.xlicon-shouhuodizhi:before {
  content: "\e712";
}

.xlicon-yishouhuo:before {
  content: "\e71a";
}

.xlicon-dianzan-ash:before {
  content: "\e617";
}

.xlicon-feedback:before {
  content: "\e63e";
}

.xlicon-ask-price:before {
  content: "\e63f";
}
.xlicon-yifahuo:before {
  content: "\e640";
}
.xlicon-qiye:before {
  content: "\e641";
}
.xlicon-jinshou:before {
  content: "\e642";
}
.xlicon-order:before {
  content: "\e643";
}
.xlicon-jifenshop:before {
  content: "\e644";
}
.xlicon-jifen:before {
  content: "\e645";
}
.xlicon-all-search:before {
  content: "\e800";
}
.xlicon-first-search:before {
  content: "\e801";
}
.xlicon-not-first-search:before {
  content: "\e802";
}
.xlicon-search-statistic:before {
  content: "\e803";
}
.xlicon-address-manage:before {
  content: "\e804";
}
.xlicon-order:before {
  content: "\e805";
}
.xlicon-red-packet:before {
  content: "\e806";
}
.xlicon-feedback:before {
  content: "\e807";
}
.xlicon-clear-cache:before {
  content: "\e808";
}
.xlicon-cart:before {
  content: "\e809";
}
.xlicon-checkoff:before {
  content: "\e90a";
}
.xlicon-about-us:before {
  content: "\e80b";
}
.xlicon-box:before {
  content: "\e998";
}
