*
!/.gitignore
!/host_env.php
!/swowtech/
!/swowtech/demo/
!/swowtech/demo/**
!/swowtech/zzzcms/
!/swowtech/zzzcms/**
**/vendor/
**/storage/
!/swowtech/demo/storage/
!/swowtech/demo/storage/.gitkeep
**/runtime/
**/runtime/**
**/.env
!**/.env.example
!**/.gitkeep
