*
!/.gitignore
!/mineadmin/
!/mineadmin/demo/
!/mineadmin/demo/**
!/swowtech/
!/swowtech/yiqicms/
!/swowtech/yiqicms/**
!/swowtech/xunlian-trace/
!/swowtech/xunlian-trace/**
!/swowtech/xunlian-trace-tp6/
!/swowtech/xunlian-trace-tp6/**
**/vendor/
**/storage/
!/mineadmin/demo/storage/
!/mineadmin/demo/storage/.gitkeep
**/runtime/
**/runtime/**
**/.env
!**/.env.example
