*
!/.gitignore
!/host_env.php
!/swowtech/
!/swowtech/demo/
!/swowtech/demo/**
**/vendor/
**/storage/
!/swowtech/demo/storage/
!/swowtech/demo/storage/.gitkeep
**/runtime/
**/runtime/**
**/.env
!**/.env.example
